/*
  ----------------
  ヘッダーのスタイル設定
  ----------------
*/
.header {
  &-btn {
    display: flex;
    width: 73px;
    height: 48px;
    justify-content: center;
    align-items: center;
    position: relative;
    cursor: pointer;

    @media #{$sp} {
      position: fixed;
      top: 18px;
      right: 15px;
      width: 40px;
      height: 26px;
    }

    span,
    &::before,
    &::after {
      content: '';
      width: 73px;
      height: 12px;
      display: block;
      background: $black;
      transition: .3s;

      @media #{$sp} {
        width: 40px;
        height: 6px;
      }
    }

    &::before {
      position: absolute;
      bottom: 0;
    }

    &::after {
      position: absolute;
      top: 0;
    }

    &.open {
      span {
        opacity: 0;
        transform: translateX(20px);
      }

      &::before {
        bottom: 18px;
        transform: rotate(45deg);

        @media #{$sp} {
          bottom: 10px;
        }
      }

      &::after {
        top: 18px;
        transform: rotate(-45deg);

        @media #{$sp} {
          top: 10px;
        }
      }
    }
  }
}